jobs:
- job:
  displayName: macOS-10.15
  pool:
    vmImage: 'macOS-10.15'
  strategy:
    matrix:
      Python36:
        python.version: '3.6'

  steps:
  - script: |
      brew cask install xquartz
    displayName: install X11

  - bash: |

    displayName: FIND


- job:
  displayName: windows-2019
  pool:
    vmImage: 'windows-2019'
  strategy:
    matrix:
      Python36:
        python.version: '3.6'

  steps:
  - powershell: Write-Host "##vso[task.prependpath]$env:CONDA\Scripts"
    displayName: Add conda to PATH

  - script: conda create --yes --quiet --name myEnvironment
    displayName: Create Anaconda environment

  - script: |
      call activate myEnvironment
      conda config --add channels conda-forge
      conda install --yes --quiet --name myEnvironment python=%PYTHON_VERSION% numpy
    displayName: Install Anaconda packages

  - script: |
      call activate myEnvironment
      pip install pytest pytest-azurepipelines
      pytest
    displayName: pytest
