jobs:
- job:
  displayName: macOS-10.15
  pool:
    vmImage: 'macOS-10.15'
  strategy:
    matrix:
      Python36:
        python.version: '3.6'

  steps:
  - script: |
      brew cask install xquartz
    displayName: install X11

  - bash: echo "##vso[task.prependpath]$CONDA/bin"
    displayName: Add conda to PATH

  - bash: sudo chown -R $USER $CONDA
    displayName: Take ownership of conda installation

  - bash: |
      set -x -e
      conda config --add channels conda-forge
      conda update -y --all
      # these ones are not in the 2020.1 conda build yet
      conda install -y pytest-xvfb pyside2 pyqt
      # these are buildtime, not a runtime,  deps for our conda package
      conda install -y cython pytest-cov pytest
      pytest pyqt*py
    displayName: Configure conda and conda-build

- job:
  displayName: windows-2019
  pool:
    vmImage: 'windows-2019'
  strategy:
    matrix:
      Python36:
        python.version: '3.6'

  steps:
  - powershell: Write-Host "##vso[task.prependpath]$env:CONDA\Scripts"
    displayName: Add conda to PATH

  - task: CondaEnvironment@1
    inputs:
      packageSpecs: 'python=$(python.version) numpy pymor pip' # Optional
      installOptions: "-c conda-forge"
      updateConda: true
    displayName: Install conda-build and activate environment

  - script: |
      call activate base
      pip install pytest pytest-azurepipelines
      pytest
    displayName: pytest
